.registration {
  display: flex;
  justify-content: center;
  &-form {
    display: flex;
    align-items: center;
    flex-direction: column;

    &-header {
      font-size: 2.7rem;
      color: $main-text-color;
      margin-bottom: 0.7rem;
    }

    &-ruler {
      background-color: white;
      width: 100%;
      height: 0.2rem;
      margin-bottom: 2.2rem;
    }

    &-content {
      display: flex;
      flex-direction: column;
      width: 85%;

      &-error {
        padding: 1rem;
        border-radius: 1rem;
        background-color: #cc0000;
        max-width: 17rem;
      }

      &-button {
        @include textBoxMixin;
        margin: 0.4rem 0;
        width: 80%;
        height: 3rem;
        align-self: center;
        cursor: pointer;
        font-size: 1.2rem;
        &:hover {
          background-color: $link-color;
        }
      }

      &-input {
        all: unset;
        padding: 1rem;
        background-color: $input-color;
        border-radius: 1rem;
        margin: 0.5rem 0;
      }

      &-checkbox {
        margin-left: 0.3rem;
        display: flex;
        &-text {
          color: white;
          margin-left: 0.3rem;
        }
      }
    }
  }
}
