@import "../scss/variables";
@import "../scss/homePage";
@import "../scss/header";
@import "../scss/not-found";
@import "../scss/registration";
@import "../scss/notes";

body {
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

a {
  all: unset;
}
